$primary-background: #323232; // black
$cta-banner-highlight: #000000; // darkblack
$secondary-text: #afafaf; // silver
$divider-line: #e1e1e1; // mercury
$secondary-background: #fafafa; // alabaster
$primary-text: #ffffff; // white