@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "AvenirNext LT Pro", serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
}

li {
  list-style-type: none;
}

main {
  margin-top: 5rem;
}

.page-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #323232;
  width: 100%;
  height: 95px;
}
@media only screen and (max-width: 767px) {
  .page-heading {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-heading {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .page-heading {
    padding: 0 9.3rem;
  }
}
.page-heading__logo {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .page-heading__logo {
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-heading__logo {
    padding: 0 3.5rem 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .page-heading__logo {
    padding: 0 3.5rem 0 0;
  }
}
.page-heading__nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.page-heading__nav-link {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  font-size: 1rem;
}
@media only screen and (max-width: 767px) {
  .page-heading__nav-link {
    height: 100%;
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-heading__nav-link {
    width: 4.5rem;
    margin: 0 3.5rem 0 0.75rem;
  }
}
@media only screen and (min-width: 1280px) {
  .page-heading__nav-link {
    width: 5rem;
    margin: 0 3.5rem 0 0.75rem;
  }
}
.page-heading__nav-link--selected {
  color: white;
  border-bottom: 3px solid white;
}
.page-heading__nav-link:hover {
  color: white;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  filter: grayscale(70%);
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .hero {
    height: 57vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 52vh;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 56vh;
  }
}
.hero__heading {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  color: white;
  width: 576px;
}
@media only screen and (max-width: 767px) {
  .hero__heading {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 1rem;
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0 9.375rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 767px) {
  .main {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main {
    padding: 0 9.375rem;
  }
}
.main__heading {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  color: #323232;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .main__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 1.5rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .main__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0;
  }
}
.main__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
@media only screen and (max-width: 767px) {
  .main__img {
    height: calc(0.625 * (100vw - 2rem));
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__img {
    height: calc(0.625 * (100vw - 3rem));
  }
}
@media only screen and (min-width: 1280px) {
  .main__img {
    height: calc(0.625 * (100vw - 25.75rem));
    margin: 0 3.5rem;
  }
}
.main__quote, .main__subheading {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .main__quote, .main__subheading {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 1.5rem 0 0 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__quote, .main__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.25rem 0 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .main__quote, .main__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 3rem 3.5rem 0 3.5rem;
  }
}
.main__author {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  color: black;
}
@media only screen and (max-width: 767px) {
  .main__author {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 2rem 0 1rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__author {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 2.25rem 0 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .main__author {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2.5rem 3.5rem 0 3.5rem;
  }
}
.main__descriptions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 767px) {
  .main__descriptions {
    flex-direction: column;
    margin: 0 0 2.5rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__descriptions {
    margin: 1.5rem 0 2.25rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .main__descriptions {
    margin: 2rem 3.5rem 3rem 3.5rem;
  }
}
.main__description {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .main__description {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin: 1.5rem 0 0 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main__description {
    width: calc((100% - 1.5rem) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .main__description {
    width: calc((100% - 2.5rem) / 2);
  }
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #fafafa;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .gallery {
    padding: 0 1rem 2.5rem 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    padding: 0 9.375rem 2.5rem 9.375rem;
  }
}
.gallery__heading {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .gallery__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0 0.5rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2.625rem 0;
  }
}
.gallery__imgs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__img {
  width: calc((100% - 3rem) / 3);
  height: calc((100% - 4.5rem) / 3);
  margin-top: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .gallery__img {
    width: 100%;
    margin-top: 1rem;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #323232;
}
@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 0.75rem 2.5rem 0.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 9.375rem;
  }
}
.footer__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3rem 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .footer__first-row {
    margin: 2rem 0;
    flex-wrap: wrap;
  }
}
.footer__heading {
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  color: white;
  width: 14rem;
}
@media only screen and (max-width: 767px) {
  .footer__heading {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0 1.5rem 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0 3.5rem 0 0;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}
@media only screen and (max-width: 767px) {
  .footer__icons {
    margin-left: 0.25rem;
    width: 128px;
    justify-content: space-between;
    flex-grow: 0;
  }
}
.footer__icon {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon {
    padding: 0 0.75rem 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__icon {
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .contact-cards {
    flex-direction: column;
  }
}

.contact-card {
  width: 14rem;
}
@media only screen and (max-width: 767px) {
  .contact-card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-card {
    margin-right: 3.5rem;
  }
  .contact-card--right {
    flex-grow: 1;
  }
}
.contact-card__name, .contact-card__company {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .contact-card__name, .contact-card__company {
    font-size: 0.8125rem;
    line-height: 1.375;
    margin: 0;
  }
}
.contact-card__company {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1280px) {
  .contact-card__company {
    margin-bottom: 1.5rem;
  }
}
.contact-card__address, .contact-card__booking {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .contact-card__address, .contact-card__booking {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
.contact-card__email {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: white;
}
@media only screen and (max-width: 767px) {
  .contact-card__email {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 1rem 0 0 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contact-card__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 1.5rem 0 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-card__email {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 0 0;
  }
}

.copyright {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .copyright {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .copyright {
    margin: 2.25rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .copyright {
    margin: 2.5rem 0;
  }
}
.copyright__text {
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .copyright__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin: 0;
  }
}/*# sourceMappingURL=bio.css.map */