//@use './partials/fonts' as *;

/* * {
    font-family: 'AvenirNext LT Pro', serif;
}*/

@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/fonts";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
}

li {
  list-style-type: none;
}

main {
  margin-top: 5rem;
  }

.page-heading {
  @include flex($ai: center, $bs: border-box);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $black;
  width: 100%;
  height: 80px;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 9.375rem;
  }

  &__logo {
    @include scale-logo;
    display: inline-block;

    @include mobile {
      padding: 1rem 0;
    }

    @include tablet {
      padding: 0 3.5rem 0 0;
    }

    @include desktop {
      padding: 0 3.5rem 0 0;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  &__nav-link {
    @include font-styling(600, $silver);
    @include flex(center, center, border-box);
    text-decoration: none;
    font-size: 0.875rem;

    @include mobile{
      height: 100%;
      width: 50%;
    }

    @include tablet {
      width: 4.5rem;
      margin: 0 3.5rem 0 0.75rem;
    }

    @include desktop {
      width: 5rem;
      margin: 0 3.5rem 0 0.75rem;
    }

    &--selected {    
      color: white;
      border-bottom: 3px solid white;
    }

    &:hover {
      color: white;
    }
  }
}

.hero {
    @include flex(flex-start, center);
    background-image: url("../assets/images/hero-bio.jpg");
    filter: grayscale(70%);
    background-size: cover;
  
    @include mobile {
      height: calc(.57*(100vw));
    }
  
    @include tablet {
      height: calc(.52*(100vw));
    }
  
    @include desktop {
      height: calc(.56*(100vw));
    }
  
    &__heading {
      @include font-styling(700, white);
      width: 576px;
  
      @include mobile {
        @include format-text(2rem, 0 1rem, 1.5rem);
        width: 75%; 
      }
  
      @include tablet {
        @include format-text(4.25rem, 0 1.5rem, 3.75rem);
      }
  
      @include desktop {
        @include format-text(4.25rem, 0 9.375rem, 3.75rem);
      }
    }
  }

  .main {
    @include flex($jc: center, $fd: column);
  
    @include mobile {
      padding: 0 1rem;
    }
  
    @include tablet {
      padding: 0 1.5rem;
    }
  
    @include desktop {
      padding: 0 9.375rem;
    }
  
    &__heading {
      @include font-styling(700);
      width: 100%;
  
      @include mobile {
        @include format-text(2rem, 2rem 0 1.5rem 0, 1.5rem);
      }
  
      @include tablet {
        @include format-text(2.75rem, 3rem 0 2rem 0, 2.25rem);
      }
  
      @include desktop {
        @include format-text(2.75rem, 3rem 0, 2.25rem);
      }
    }
  
    &__img {
      object-fit: cover;
      object-position: 50% 60%;
  
      @include mobile {
        height: calc(.625*(100vw - 2rem));
      }
  
      @include tablet {
        height: calc(.625*(100vw - 3rem));
      }
  
      @include desktop {
        height: calc(.625*(100vw - 25.75rem));
        margin: 0 3.5rem;
      }
    }
  
    &__quote, &__subheading {
      @include font-styling(700);
  
      @include mobile {
        font-weight: 600;
        @include format-text(1.375rem, 1.5rem 0 0 0);
      }
  
      @include tablet {
        @include format-text(2rem, 2.25rem 0 0 0, 1.5rem);
      }
  
      @include desktop {
        @include format-text(2rem, 3rem 3.5rem 0 3.5rem, 1.5rem);
      }
    }
  
    &__author {
      @include font-styling(600, black);
  
      @include mobile {
        @include format-text(1.25rem, 2rem 0 1rem 0, 0.875rem);
      }
  
      @include tablet {
        @include format-text(1.25rem, 2.25rem 0 0 0, 0.875rem);
      }
  
      @include desktop {
        @include format-text(1.5rem, 2.5rem 3.5rem 0 3.5rem);
      }
    }
  
    &__descriptions {
      @include flex(space-between);
  
      @include mobile {
        flex-direction: column;
        margin: 0 0 2.5rem 0;
      }
  
      @include tablet {
        margin: 1.5rem 0 2.25rem 0;
      }
  
      @include desktop {
        margin: 2rem 3.5rem 3rem 3.5rem;
      }
    }
  
    &__description {
      @include font-styling(400, $black);
      @include format-text(1.25rem, 0, 0.875rem);
  
      @include mobile {
        @include format-text(1.125rem, 1.5rem 0 0 0, 0.75rem);
      }
  
      @include tablet {
        width: calc((100% - 1.5rem)/2);
      }
  
      @include desktop {
        width: calc((100% - 2.5rem)/2);
      }
    }
  }

  .gallery {
    @include flex($bs: border-box, $fd: column);
    background-color: $alabaster;
    width: 100%;
  
    @include mobile {
      padding: 0 1rem 2.5rem 1rem;
    }
  
    @include tablet {
      padding: 0 1.5rem 2.5rem 1.5rem;
    }
  
    @include desktop {
      padding: 0 9.375rem 2.5rem 9.375rem;
    }
  
    &__heading {
      @include font-styling(700);
  
      @include mobile {
        @include format-text(2rem, 2rem 0 0.5rem 0, 1.5rem);
      }
  
      @include tablet {
        @include format-text(2.75rem, 3rem 0 2rem 0, 2.25rem);
      }
  
      @include desktop {
        @include format-text(2.75rem, 3rem 0 2.625rem 0, 2.25rem);
      }
    }
  
    &__imgs {
      @include flex($jc: space-between, $fw: wrap);
    }
  
    &__img {
      @include color-image;
      width: calc((100% - 3rem) /3);
      height: calc((100% - 4.5rem) /3);
      margin-top: 1.5rem;
  
      @include mobile {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
 
  .footer {
    @include flex($fw: wrap);
    background-color: $black;
  
    @include mobile {
      flex-direction: column;
      padding: 0 0.75rem 2.5rem 0.75rem;
    }
  
    @include tablet {
      padding: 0 1.5rem;
    }
  
    @include desktop {
      padding: 0 9.375rem;
    }
  
    &__first-row {
      @include flex($jc: space-between, $ai: center);
      margin: 3rem 0;
      width: 100%;
  
      @include mobile {
        margin: 2rem 0;
        flex-wrap: wrap;
      }
    }
  
    &__heading {
      @include font-styling(700, white);
      width: 14rem;
  
      @include mobile {
        @include format-text(2rem, 0 0 1.5rem, 2rem);
        width: 100%;
      }
  
      @include tablet {
        @include format-text(2.75rem, 0 1.5rem 0 0, 2.25rem);
      }
  
      @include desktop {
        @include format-text(2.75rem, 0 3.5rem 0 0, 2.25rem);
      }
    }
  
    &__icons {
      @include flex($ai: center);
      flex-grow: 1;
  
      @include mobile {
        margin-left: 0.25rem;
        width: 128px;
        justify-content: space-between;
        flex-grow: 0;
      }
    }
  
    &__icon {
      width: 20px;
      height: 20px;
  
      @include tablet {
        padding: 0 0.75rem 0 1.5rem;
      }
  
      @include desktop {
        padding-right: 2rem;
      }
    }
  
    &__logo {
      @include mobile {
        display: none;
      }
    }
  }
  
  .contact-cards {
    @include flex(space-between);
    width: 100%;
  
    @include mobile {
      flex-direction: column;
    }
  }
  
  .contact-card {
    width: 14rem;
  
    @include mobile {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    @include desktop {
      margin-right: 3.5rem;
      
      &--right {
        flex-grow: 1;
      }
    }
  
    &__name, &__company {
      @include font-styling(600, white);
      @include format-text(1.5rem, 0);
  
      @include mobile {
        @include format-text(1.375, 0, 0.8125rem);
      }
    }
  
    &__company {
      margin-bottom: 1rem;
  
      @include desktop {
        margin-bottom: 1.5rem;
      }
    }
  
    &__address, &__booking {
      @include font-styling(400, white);
      @include format-text(1.25rem, 0, 0.875rem);
  
      @include mobile {
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
    }
  
    &__email {
      @include font-styling(400, white);
    
      @include mobile {
        @include format-text(1.25rem, 1rem 0 0 0, 0.75rem);
      }
  
      @include tablet {
        @include format-text(1.25rem, 1.5rem 0 0 0, 0.875rem);
      }
  
      @include desktop {
        @include format-text(1.5rem, 1.5rem 0 0 0);
      }
    }
  }
  
  .copyright {
    display: flex;
    
    @include mobile {
      flex-wrap: wrap;
    }
  
    @include tablet {
      margin: 2.25rem 0;
    }
  
    @include desktop {
      margin: 2.5rem 0;
    }
  
    &__text {
      @include font-styling(400, white);
      @include format-text(1.25rem, 0, 0.875rem);
  
      @include mobile {
        @include format-text(1.125rem, 0, 0.75rem);
      }
    }
  }