@use './partials/fonts' as *;

* {
    font-family: 'AvenirNext LT Pro', serif;
}

@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/fonts";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
}

li {
  list-style-type: none;
}

main {
  margin-top: 5rem;
  }

.page-heading {
  @include flex($ai: center, $bx: border-box);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $black;
  width: 100%;
  height: 80px;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 9.375rem;
  }

  &__logo {
    @include scale-logo;
    display: inline-block;

    @include mobile {
      padding: 1rem 0;
    }

    @include tablet {
      padding: 0 3.5rem 0 0;
    }

    @include desktop {
      padding: 0 3.5rem 0 0;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  &__nav-link {
    @include font-styling(300, $silver);
    @include flex(center, center, border-box);
    text-decoration: none;
    font-size: 0.875rem;

    @include mobile{
      height: 100%;
      width: 50%;
    }

    @include tablet {
      width: 4.5rem;
      margin: 0 3.5rem 0 0.75rem;
    }

    @include desktop {
      width: 5rem;
      margin: 0 3.5rem 0 0.75rem;
    }

    &--selected {    
      color: white;
      border-bottom: 3px solid white;
    }

    &:hover {
      color: white;
    }
  }
}

.hero {
    @include flex(flex-start, center);
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
  
    @include mobile {
      height: calc(.57*(100vw));
    }
  
    @include tablet {
      height: calc(.52*(100vw));
    }
  
    @include desktop {
      height: calc(.56*(100vw));
    }
  
    &__heading {
      @include font-styling(500, white);
      width: 576px;
  
      @include mobile {
        @include format-text(2rem, 0 1rem, 1.5rem);
        width: 75%; 
      }
  
      @include tablet {
        @include format-text(4.25rem, 0 1.5rem, 3.75rem);
      }
  
      @include desktop {
        @include format-text(4.25rem, 0 9.375rem, 3.75rem);
      }
    }
  }