@use './partials/breakpoints' as *;
@use './partials/fonts' as *;
@use './partials/colors' as *;
@use './partials/mixins' as *;

* {
    font-family: 'AvenirNext LT Pro', serif;
}

.shows-hero {
    @include flex(flex-start, center);
    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    position: relative;
    background-position: 90%;
    height: 30rem;
    padding: 4rem 1rem 0 1rem;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
      top: 0;
      left: 0;
    }
  
    //@include tablet {
    //  height: 52vh;
   // }
  
   // @include desktop {
    //  height: 56vh;
  //  }
    
    //height: 41.875rem;
  
    @include tablet {
      @include flex($flex-wrap: wrap, $box-sizing: border-box);
      padding: 6rem 1.5rem 4rem 1.5rem;
    }
  
    @include desktop {
      @include flex($align-items: flex-start, $flex-wrap: wrap, $box-sizing: border-box);
      padding: 10rem 9.375rem 0 9.375rem;
    }
  
    &__container {
      @include flex(space-between, flex-end, $flex-wrap: wrap);
    }
  
    &__album {
      @include font-styling(500, $white);
      width: 100%;
  
      @include mobile {
        @include font-styling(300, $white);
        @include format-text(1.375rem, 0 0 1.5rem 0, 0.875rem);
      }
  
      @include tablet {
        @include format-text(2rem, $fs: 1.5rem);
      }
  
      @include desktop {
        @include format-text(2rem, 0 0 3rem 0, 1.5rem);
      }
    }
  
    &__heading {
      @include font-styling(500, $white);
      @include format-text(2.75rem, $fs: 2.25rem);
      width: 100%;
  
      @include tablet {
        @include format-text(4.25rem, $fs: 3.75rem);
        width: 80%;
      }
  
      @include desktop {
        @include format-text(3.75rem, $fs: 3rem);
        width: 28.125rem;
        margin-bottom: -.8rem; 
      }
    }
  
    &__soundcloud {
        width: 100%;
        height: 8rem;
        margin-top: 1.5rem;
      }
  
      @include tablet {
        width: 60%;
      }
  
      @include desktop {
        width: 45%;
      }
    }

