@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "AvenirNext LT Pro", serif;
}

.shows-hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  position: relative;
  background-position: 90%;
  height: 30rem;
  padding: 4rem 1rem 0 1rem;
}
.shows-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  top: 0;
  left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .shows-hero {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6rem 1.5rem 4rem 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .shows-hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10rem 9.375rem 0 9.375rem;
  }
}
.shows-hero__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: wrap;
}
.shows-hero__album {
  font-family: "AvenirNext LT Pro";
  font-weight: 500;
  color: #ffffff;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .shows-hero__album {
    font-family: "AvenirNext LT Pro";
    font-weight: 300;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 0 1.5rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .shows-hero__album {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .shows-hero__album {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 0 3rem 0;
  }
}
.shows-hero__heading {
  font-family: "AvenirNext LT Pro";
  font-weight: 500;
  color: #ffffff;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .shows-hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0;
    width: 80%;
  }
}
@media only screen and (min-width: 1280px) {
  .shows-hero__heading {
    font-size: 3rem;
    line-height: 3.75rem;
    margin: 0;
    width: 28.125rem;
    margin-bottom: -0.8rem;
  }
}
.shows-hero__soundcloud {
  width: 100%;
  height: 8rem;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .shows-hero {
    width: 60%;
  }
}
@media only screen and (min-width: 1280px) {
  .shows-hero {
    width: 45%;
  }
}/*# sourceMappingURL=shows.css.map */